# Frontend ignored paths
outcome-based-lms/dist/
outcome-based-lms/tmp/
outcome-based-lms/out-tsc/
outcome-based-lms/node_modules/
outcome-based-lms/.angular/cache/

# Backend ignored paths
springboot-backend/target/
springboot-backend/.idea/
springboot-backend/*.class

# Common files
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*
.DS_Store
Thumbs.db
node_modules/
dist/
.angular/
package-lock.json
