-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: oblms
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `oblms`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `oblms` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `oblms`;

--
-- Table structure for table `academic_programs`
--

DROP TABLE IF EXISTS `academic_programs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `academic_programs` (
  `branch_id` bigint NOT NULL,
  `branch_name` varchar(255) DEFAULT NULL,
  `branch_status` int NOT NULL,
  `course_id` bigint DEFAULT NULL,
  `dept_code` varchar(255) DEFAULT NULL,
  `short_code` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`branch_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academic_programs`
--
-- ORDER BY:  `branch_id`

LOCK TABLES `academic_programs` WRITE;
/*!40000 ALTER TABLE `academic_programs` DISABLE KEYS */;
INSERT INTO `academic_programs` (`branch_id`, `branch_name`, `branch_status`, `course_id`, `dept_code`, `short_code`) VALUES (33,'Mechanical Engineering(Automobile)',1,1001,'27','MA');
INSERT INTO `academic_programs` (`branch_id`, `branch_name`, `branch_status`, `course_id`, `dept_code`, `short_code`) VALUES (34,'Civil Engineering',1,1001,'21','CE');
INSERT INTO `academic_programs` (`branch_id`, `branch_name`, `branch_status`, `course_id`, `dept_code`, `short_code`) VALUES (35,'Computer Science & Engineering',1,1001,'24','CSE');
/*!40000 ALTER TABLE `academic_programs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `academic_streams`
--

DROP TABLE IF EXISTS `academic_streams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `academic_streams` (
  `course_id` bigint NOT NULL,
  `course_name` varchar(255) DEFAULT NULL,
  `course_type` varchar(255) DEFAULT NULL,
  `duration` int NOT NULL,
  `status` int NOT NULL,
  PRIMARY KEY (`course_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academic_streams`
--
-- ORDER BY:  `course_id`

LOCK TABLES `academic_streams` WRITE;
/*!40000 ALTER TABLE `academic_streams` DISABLE KEYS */;
INSERT INTO `academic_streams` (`course_id`, `course_name`, `course_type`, `duration`, `status`) VALUES (1001,'B.Tech','UG',4,1);
INSERT INTO `academic_streams` (`course_id`, `course_name`, `course_type`, `duration`, `status`) VALUES (1002,'M.Tech','PG',2,1);
INSERT INTO `academic_streams` (`course_id`, `course_name`, `course_type`, `duration`, `status`) VALUES (1003,'MCA','PG',3,1);
/*!40000 ALTER TABLE `academic_streams` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assessment_co_mappings`
--

DROP TABLE IF EXISTS `assessment_co_mappings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assessment_co_mappings` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `assessment_name` varchar(255) NOT NULL,
  `assessment_type` varchar(255) DEFAULT NULL,
  `course_id` varchar(255) DEFAULT NULL,
  `course_name` varchar(255) DEFAULT NULL,
  `course_outcomes` varchar(500) DEFAULT NULL,
  `max_marks` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assessment_co_mappings`
--
-- ORDER BY:  `id`

LOCK TABLES `assessment_co_mappings` WRITE;
/*!40000 ALTER TABLE `assessment_co_mappings` DISABLE KEYS */;
INSERT INTO `assessment_co_mappings` (`id`, `assessment_name`, `assessment_type`, `course_id`, `course_name`, `course_outcomes`, `max_marks`) VALUES (26,'INMCA202 - Midterm 1','Midterm','INMCA202','Probability and Statistics','CO1,CO2',50);
INSERT INTO `assessment_co_mappings` (`id`, `assessment_name`, `assessment_type`, `course_id`, `course_name`, `course_outcomes`, `max_marks`) VALUES (27,'DS - Practical Lab','Practical','DS','Data Structures and Analysys of Computer Algorithms','CO1',100);
INSERT INTO `assessment_co_mappings` (`id`, `assessment_name`, `assessment_type`, `course_id`, `course_name`, `course_outcomes`, `max_marks`) VALUES (28,'MES - Quiz 1','Quiz','MES','Microprocessors and Embedded Systems','CO1',20);
/*!40000 ALTER TABLE `assessment_co_mappings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendance_records`
--

DROP TABLE IF EXISTS `attendance_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attendance_records` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `course_code` varchar(255) NOT NULL,
  `date` varchar(255) NOT NULL,
  `status` varchar(255) NOT NULL,
  `student` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2252 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance_records`
--
-- ORDER BY:  `id`

LOCK TABLES `attendance_records` WRITE;
/*!40000 ALTER TABLE `attendance_records` DISABLE KEYS */;
INSERT INTO `attendance_records` (`id`, `course_code`, `date`, `status`, `student`) VALUES (1,'CS101','2026-08-01','Present','Raj Kumar');
INSERT INTO `attendance_records` (`id`, `course_code`, `date`, `status`, `student`) VALUES (2,'CS101','2026-08-02','Present','Raj Kumar');
INSERT INTO `attendance_records` (`id`, `course_code`, `date`, `status`, `student`) VALUES (3,'CS101','2026-08-03','Present','Raj Kumar');
/*!40000 ALTER TABLE `attendance_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `copo_mappings`
--

DROP TABLE IF EXISTS `copo_mappings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `copo_mappings` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `co` varchar(255) NOT NULL,
  `contribution` int NOT NULL,
  `course` varchar(255) NOT NULL,
  `mapping_level` int NOT NULL,
  `po` varchar(255) NOT NULL,
  `status` varchar(255) DEFAULT NULL,
  `comid` bigint DEFAULT NULL,
  `cpid` bigint DEFAULT NULL,
  `pgmid` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_copo_course` (`course`),
  KEY `idx_copo_po` (`po`),
  KEY `idx_copo_co` (`co`)
) ENGINE=InnoDB AUTO_INCREMENT=2793 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `copo_mappings`
--
-- ORDER BY:  `id`

LOCK TABLES `copo_mappings` WRITE;
/*!40000 ALTER TABLE `copo_mappings` DISABLE KEYS */;
INSERT INTO `copo_mappings` (`id`, `co`, `contribution`, `course`, `mapping_level`, `po`, `status`, `comid`, `cpid`, `pgmid`) VALUES (2025,'CO1',33,'COMPUTER LAB',1,'PO8','Approved',105,53,151);
INSERT INTO `copo_mappings` (`id`, `co`, `contribution`, `course`, `mapping_level`, `po`, `status`, `comid`, `cpid`, `pgmid`) VALUES (2026,'CO2',33,'COMPUTER LAB',1,'PO8','Approved',106,54,151);
INSERT INTO `copo_mappings` (`id`, `co`, `contribution`, `course`, `mapping_level`, `po`, `status`, `comid`, `cpid`, `pgmid`) VALUES (2027,'CO3',66,'COMPUTER LAB',2,'PO8','Approved',107,55,151);
/*!40000 ALTER TABLE `copo_mappings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course_outcomes`
--

DROP TABLE IF EXISTS `course_outcomes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `course_outcomes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `co` varchar(255) NOT NULL,
  `course` varchar(255) NOT NULL,
  `description` varchar(1000) DEFAULT NULL,
  `comid` bigint DEFAULT NULL,
  `sem_sub_id` bigint DEFAULT NULL,
  `approval_status` varchar(255) DEFAULT NULL,
  `blooms_level` varchar(255) DEFAULT NULL,
  `faculty` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_co_course` (`course`),
  KEY `idx_co_co` (`co`)
) ENGINE=InnoDB AUTO_INCREMENT=1354 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course_outcomes`
--
-- ORDER BY:  `id`

LOCK TABLES `course_outcomes` WRITE;
/*!40000 ALTER TABLE `course_outcomes` DISABLE KEYS */;
INSERT INTO `course_outcomes` (`id`, `co`, `course`, `description`, `comid`, `sem_sub_id`, `approval_status`, `blooms_level`, `faculty`) VALUES (1005,'CO1','OOMD','Identify the basic data structures,memory representation and various operations of array',94,11,NULL,NULL,'Faculty Board');
INSERT INTO `course_outcomes` (`id`, `co`, `course`, `description`, `comid`, `sem_sub_id`, `approval_status`, `blooms_level`, `faculty`) VALUES (1006,'CO2','OOMD','Simulate the linear data structure operations of stack and its applications',95,11,NULL,NULL,'Faculty Board');
INSERT INTO `course_outcomes` (`id`, `co`, `course`, `description`, `comid`, `sem_sub_id`, `approval_status`, `blooms_level`, `faculty`) VALUES (1007,'CO3','OOMD','Demonstrate the data structure queue, operations and and applications',96,11,NULL,NULL,'Faculty Board');
/*!40000 ALTER TABLE `course_outcomes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course_requests`
--

DROP TABLE IF EXISTS `course_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `course_requests` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `action_date` datetime(6) DEFAULT NULL,
  `course_code` varchar(255) DEFAULT NULL,
  `course_title` varchar(255) DEFAULT NULL,
  `department` varchar(255) DEFAULT NULL,
  `reg_no` varchar(255) DEFAULT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `requested_at` datetime(6) DEFAULT NULL,
  `semester` varchar(255) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `student_email` varchar(255) DEFAULT NULL,
  `student_id` varchar(255) DEFAULT NULL,
  `student_name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course_requests`
--
-- ORDER BY:  `id`

LOCK TABLES `course_requests` WRITE;
/*!40000 ALTER TABLE `course_requests` DISABLE KEYS */;
INSERT INTO `course_requests` (`id`, `action_date`, `course_code`, `course_title`, `department`, `reg_no`, `remarks`, `requested_at`, `semester`, `status`, `student_email`, `student_id`, `student_name`) VALUES (1,'2026-09-03 04:44:34.505000','ME210','Kinematics and Dynamics of Machinery','Mechanical Engineering','CUTM2026ME042',NULL,'2026-09-03 04:43:45.933000','Semester 6','Approved','hasini@gmail.com','240101120042','B.Hasini');
INSERT INTO `course_requests` (`id`, `action_date`, `course_code`, `course_title`, `department`, `reg_no`, `remarks`, `requested_at`, `semester`, `status`, `student_email`, `student_id`, `student_name`) VALUES (2,'2026-09-03 08:38:02.954000','EMII','ENGINEERING MATHEMATICS II','Mechanical Engineering','CUTM2026ME032',NULL,'2026-09-03 08:31:19.183000','Semester 6','Approved','kaushik@gmail.com','240101120032','Kaushik Ghattamaneni');
INSERT INTO `course_requests` (`id`, `action_date`, `course_code`, `course_title`, `department`, `reg_no`, `remarks`, `requested_at`, `semester`, `status`, `student_email`, `student_id`, `student_name`) VALUES (3,'2026-09-03 08:38:08.758000','ME210','Metallurgy & Materials Engineering','Mechanical Engineering','CUTM2026ME032',NULL,'2026-09-03 08:31:20.402000','Semester 6','Approved','kaushik@gmail.com','240101120032','Kaushik Ghattamaneni');
/*!40000 ALTER TABLE `course_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `courses`
--

DROP TABLE IF EXISTS `courses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `courses` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(255) NOT NULL,
  `faculty` varchar(255) DEFAULT NULL,
  `semester` varchar(255) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_61og8rbqdd2y28rx2et5fdnxd` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=67 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `courses`
--
-- ORDER BY:  `id`

LOCK TABLES `courses` WRITE;
/*!40000 ALTER TABLE `courses` DISABLE KEYS */;
INSERT INTO `courses` (`id`, `code`, `faculty`, `semester`, `title`) VALUES (11,'INMCA202','Faculty Board','Fall 2026','Probability and Statistics');
INSERT INTO `courses` (`id`, `code`, `faculty`, `semester`, `title`) VALUES (12,'DS','Faculty Board','Fall 2026','Data Structures and Analysys of Computer Algorithms');
INSERT INTO `courses` (`id`, `code`, `faculty`, `semester`, `title`) VALUES (13,'MES','Dr. Amit Patel','Semester 6','Microprocessors and Embedded Systems');
/*!40000 ALTER TABLE `courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `curriculum_subjects`
--

DROP TABLE IF EXISTS `curriculum_subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `curriculum_subjects` (
  `sub_id` bigint NOT NULL,
  `sub_code` varchar(255) DEFAULT NULL,
  `subject_name` varchar(255) DEFAULT NULL,
  `subject_type` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`sub_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `curriculum_subjects`
--
-- ORDER BY:  `sub_id`

LOCK TABLES `curriculum_subjects` WRITE;
/*!40000 ALTER TABLE `curriculum_subjects` DISABLE KEYS */;
INSERT INTO `curriculum_subjects` (`sub_id`, `sub_code`, `subject_name`, `subject_type`) VALUES (1,'INMCA202','Probability and Statistics','Theory');
INSERT INTO `curriculum_subjects` (`sub_id`, `sub_code`, `subject_name`, `subject_type`) VALUES (2,'DS','Data Structures and Analysys of Computer Algorithms','Theory');
INSERT INTO `curriculum_subjects` (`sub_id`, `sub_code`, `subject_name`, `subject_type`) VALUES (3,'MES','Microprocessors and Embedded Systems','Theory');
/*!40000 ALTER TABLE `curriculum_subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exams`
--

DROP TABLE IF EXISTS `exams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `exams` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `course` varchar(255) NOT NULL,
  `date` varchar(255) NOT NULL,
  `marks` int NOT NULL,
  `room` varchar(255) NOT NULL,
  `status` varchar(255) NOT NULL,
  `title` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exams`
--
-- ORDER BY:  `id`

LOCK TABLES `exams` WRITE;
/*!40000 ALTER TABLE `exams` DISABLE KEYS */;
INSERT INTO `exams` (`id`, `course`, `date`, `marks`, `room`, `status`, `title`) VALUES (1,'CS101','2026-09-10T10:00',100,'LH-302','Scheduled','Database Management Systems Midterm');
INSERT INTO `exams` (`id`, `course`, `date`, `marks`, `room`, `status`, `title`) VALUES (2,'CS202','2026-09-12T13:00',50,'Lab-4','Scheduled','Machine Learning Practical Exam');
INSERT INTO `exams` (`id`, `course`, `date`, `marks`, `room`, `status`, `title`) VALUES (3,'CS303','2026-08-20T09:00',100,'LH-101','Completed','Cloud Computing Final Assessment');
/*!40000 ALTER TABLE `exams` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grievance_comments`
--

DROP TABLE IF EXISTS `grievance_comments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `grievance_comments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `grievance_id` bigint NOT NULL,
  `role` varchar(255) NOT NULL,
  `sender` varchar(255) NOT NULL,
  `text` varchar(1000) NOT NULL,
  `timestamp` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grievance_comments`
--
-- ORDER BY:  `id`

LOCK TABLES `grievance_comments` WRITE;
/*!40000 ALTER TABLE `grievance_comments` DISABLE KEYS */;
INSERT INTO `grievance_comments` (`id`, `grievance_id`, `role`, `sender`, `text`, `timestamp`) VALUES (1,1,'System','System','Ticket submitted successfully.','2026-08-11T10:00:00Z');
INSERT INTO `grievance_comments` (`id`, `grievance_id`, `role`, `sender`, `text`, `timestamp`) VALUES (2,2,'student','Sneha Patel','Please resolve soon as deadline is tomorrow.','2026-08-12T14:32:00Z');
INSERT INTO `grievance_comments` (`id`, `grievance_id`, `role`, `sender`, `text`, `timestamp`) VALUES (3,2,'admin','System Administrator','Taking a look at the server log. It seems like a file size restriction.','2026-08-12T16:00:00Z');
/*!40000 ALTER TABLE `grievance_comments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grievances`
--

DROP TABLE IF EXISTS `grievances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `grievances` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `category` varchar(255) NOT NULL,
  `date` varchar(255) NOT NULL,
  `description` varchar(2000) NOT NULL,
  `resolution` varchar(255) DEFAULT NULL,
  `status` varchar(255) NOT NULL,
  `student_name` varchar(255) NOT NULL,
  `title` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grievances`
--
-- ORDER BY:  `id`

LOCK TABLES `grievances` WRITE;
/*!40000 ALTER TABLE `grievances` DISABLE KEYS */;
INSERT INTO `grievances` (`id`, `category`, `date`, `description`, `resolution`, `status`, `student_name`, `title`) VALUES (1,'Attendance','2026-08-11T10:00','I was marked absent on August 10th despite presenting my medical certificate.',NULL,'Open','Raj Kumar','Discrepancy in Midterm attendance record');
INSERT INTO `grievances` (`id`, `category`, `date`, `description`, `resolution`, `status`, `student_name`, `title`) VALUES (2,'Technical Support','2026-08-12T14:30','When trying to submit the machine learning assignment, the upload button throws a 500 error.',NULL,'In Review','Sneha Patel','LMS file upload error');
/*!40000 ALTER TABLE `grievances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `action_url` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `is_read` bit(1) NOT NULL,
  `message` varchar(1000) DEFAULT NULL,
  `recipient_id` varchar(255) DEFAULT NULL,
  `recipient_name` varchar(255) DEFAULT NULL,
  `recipient_role` varchar(255) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `type` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--
-- ORDER BY:  `id`

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
INSERT INTO `notifications` (`id`, `action_url`, `created_at`, `is_read`, `message`, `recipient_id`, `recipient_name`, `recipient_role`, `title`, `type`) VALUES (1,'/admin/approval-management','2026-09-03 08:44:04.540000',_binary '\0','Student B.Hasini (Mechanical Engineering) has requested enrollment in Kinematics of Machinery [KM].','ADMIN','Administrator','ADMIN','≡ƒôÑ New Course Enrollment Request','approval');
INSERT INTO `notifications` (`id`, `action_url`, `created_at`, `is_read`, `message`, `recipient_id`, `recipient_name`, `recipient_role`, `title`, `type`) VALUES (2,'/courses','2026-09-03 08:44:04.616000',_binary '\0','Great news! Your enrollment request for \"Kinematics of Machinery (KM)\" has been APPROVED by the Administrator. You can now access syllabus, lessons, and track attendance.','hasini@gmail.com','B.Hasini','STUDENT','≡ƒÄë Course Enrollment Approved!','success');
INSERT INTO `notifications` (`id`, `action_url`, `created_at`, `is_read`, `message`, `recipient_id`, `recipient_name`, `recipient_role`, `title`, `type`) VALUES (3,'/courses','2026-09-03 04:44:34.505000',_binary '\0','Great news! Your enrollment request for \"Kinematics and Dynamics of Machinery (ME210)\" has been APPROVED by the Administrator. You can now access syllabus, lessons, and track attendance.','hasini@gmail.com','B.Hasini','STUDENT','?? Course Enrollment Approved!','success');
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `program_outcomes`
--

DROP TABLE IF EXISTS `program_outcomes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `program_outcomes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `description` varchar(1000) NOT NULL,
  `po_number` varchar(255) NOT NULL,
  `pgmid` bigint DEFAULT NULL,
  `po` varchar(255) NOT NULL,
  `program` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=104 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `program_outcomes`
--
-- ORDER BY:  `id`

LOCK TABLES `program_outcomes` WRITE;
/*!40000 ALTER TABLE `program_outcomes` DISABLE KEYS */;
INSERT INTO `program_outcomes` (`id`, `description`, `po_number`, `pgmid`, `po`, `program`) VALUES (34,'Engineering Knowledge: Apply mathematics, science, and core engineering fundamentals.','PO1',NULL,'PO1','Information Technology');
INSERT INTO `program_outcomes` (`id`, `description`, `po_number`, `pgmid`, `po`, `program`) VALUES (35,'Problem Analysis: Identify, formulate, review research literature, and analyze complex problems.','PO2',NULL,'PO2','Information Technology');
INSERT INTO `program_outcomes` (`id`, `description`, `po_number`, `pgmid`, `po`, `program`) VALUES (36,'Design & Development of Solutions: Design system components and processes meeting specified technical needs.','PO3',NULL,'PO3','Information Technology');
/*!40000 ALTER TABLE `program_outcomes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question_bank`
--

DROP TABLE IF EXISTS `question_bank`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `question_bank` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `blooms_level` varchar(255) DEFAULT NULL,
  `co_mapped` varchar(255) DEFAULT NULL,
  `difficulty` varchar(255) DEFAULT NULL,
  `marks` int NOT NULL,
  `question_text` varchar(1000) NOT NULL,
  `subject` varchar(255) DEFAULT NULL,
  `type` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question_bank`
--
-- ORDER BY:  `id`

LOCK TABLES `question_bank` WRITE;
/*!40000 ALTER TABLE `question_bank` DISABLE KEYS */;
INSERT INTO `question_bank` (`id`, `blooms_level`, `co_mapped`, `difficulty`, `marks`, `question_text`, `subject`, `type`) VALUES (1,'L1: Remember','CO1','Easy',5,'Define primary key, foreign key, and unique key constraints with relational schema examples.','Database Management Systems','Short Answer');
INSERT INTO `question_bank` (`id`, `blooms_level`, `co_mapped`, `difficulty`, `marks`, `question_text`, `subject`, `type`) VALUES (2,'L2: Understand','CO1','Medium',5,'Explain the ACID properties of transactions and illustrate how write-ahead logging ensures durability.','Database Management Systems','Short Answer');
INSERT INTO `question_bank` (`id`, `blooms_level`, `co_mapped`, `difficulty`, `marks`, `question_text`, `subject`, `type`) VALUES (3,'L3: Apply','CO2','Medium',8,'Write SQL queries using GROUP BY, HAVING, and INNER JOIN to find employees earning more than the department average.','Database Management Systems','Short Answer');
/*!40000 ALTER TABLE `question_bank` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_marks`
--

DROP TABLE IF EXISTS `student_marks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_marks` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `assessment` varchar(255) NOT NULL,
  `max_marks` double NOT NULL,
  `obtained` double NOT NULL,
  `student` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_marks_student` (`student`),
  KEY `idx_marks_assessment` (`assessment`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_marks`
--
-- ORDER BY:  `id`

LOCK TABLES `student_marks` WRITE;
/*!40000 ALTER TABLE `student_marks` DISABLE KEYS */;
INSERT INTO `student_marks` (`id`, `assessment`, `max_marks`, `obtained`, `student`) VALUES (51,'INMCA202 - Midterm 1',50,42,'Krishnavamsi');
INSERT INTO `student_marks` (`id`, `assessment`, `max_marks`, `obtained`, `student`) VALUES (52,'DS - Practical Lab',100,88,'Krishnavamsi');
INSERT INTO `student_marks` (`id`, `assessment`, `max_marks`, `obtained`, `student`) VALUES (53,'MES - Quiz 1',20,17,'Krishnavamsi');
/*!40000 ALTER TABLE `student_marks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `timetable_slots`
--

DROP TABLE IF EXISTS `timetable_slots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `timetable_slots` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `day` varchar(255) NOT NULL,
  `period` varchar(255) NOT NULL,
  `room` varchar(255) NOT NULL,
  `subject` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `timetable_slots`
--
-- ORDER BY:  `id`

LOCK TABLES `timetable_slots` WRITE;
/*!40000 ALTER TABLE `timetable_slots` DISABLE KEYS */;
INSERT INTO `timetable_slots` (`id`, `day`, `period`, `room`, `subject`) VALUES (7,'Monday','09:00 AM - 10:00 AM','LH-101','Database Management Systems (CS101)');
INSERT INTO `timetable_slots` (`id`, `day`, `period`, `room`, `subject`) VALUES (8,'Monday','10:15 AM - 11:15 AM','LH-204','Java & OOPs Programming (CS102)');
INSERT INTO `timetable_slots` (`id`, `day`, `period`, `room`, `subject`) VALUES (9,'Monday','11:30 AM - 12:30 PM','LH-101','Data Structures & Algorithms (CS103)');
/*!40000 ALTER TABLE `timetable_slots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` varchar(255) NOT NULL,
  `department` varchar(255) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `enrolled_courses` varchar(1000) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_6dotkott2kjsp8vw4d0m25fb7` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--
-- ORDER BY:  `id`

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` (`id`, `department`, `email`, `enrolled_courses`, `name`, `password`, `role`) VALUES ('240101120032','Mechanical Engineering','kaushik@gmail.com','EMII,ME210,SMSE','Kaushik Ghattamaneni','password','STUDENT');
INSERT INTO `users` (`id`, `department`, `email`, `enrolled_courses`, `name`, `password`, `role`) VALUES ('240101120041','Computer Science & Engineering','jahnavi@gmail.com','IT305,DS LAB,EMII','S.Jahnavi','password','STUDENT');
INSERT INTO `users` (`id`, `department`, `email`, `enrolled_courses`, `name`, `password`, `role`) VALUES ('240101120042','Mechanical Engineering','hasini@gmail.com','ME210,KM','B.Hasini','password','STUDENT');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-03 15:46:29
